/* Write your CSS here */
.bg-container {
  height: 100vh;
  background-image: linear-gradient(to right, #f9d423, #e2a139);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card {
  background-color: #ffff;
  height: 60vh;
  width: 40vw;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  padding: 30px;
}
.coin {
  height: 40%;
  width: 30%;
}

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50%;
}

button {
  background-color: #f9d423;
  color: #a35200;
  border: none;
  height: 30px;
  width: 80px;
  padding: 4px;
  border-radius: 5px;
  cursor: pointer;
}
